/********* General Styles ********/

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:visited {
  color: initial;
}

#mainNav li a:hover,
button:hover {
  cursor: pointer;
}

input:focus {
  outline: none;
}

.isHidden {
  display: none;
}

.isShown {
  display: block;
}

.hasErrors {
  border: 2px solid var(--red-color);
}

.isCorrect {
  border: 2px solid var(--green-color);
}

/********* Colors ********/

:root {
  --yellow-color: #f6cb60;
  --black-color: #302e30;
  --blue-color: #005FF2;
  --green-color: rgb(29, 167, 1);
  --red-color: rgb(190, 0, 0);
  --grey-color: rgb(219, 217, 217);
}

/********* Typography ********/

* {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}

/********* UI elements ********/

button {
  border: none;
}

.footer_button {
  height: 50px;
  background-color: var(--yellow-color);
  margin: 10px;
  border-radius: 5px;
  font-size: 1rem;
  width: 70px;
}

/********* Header ********/

header {
  background-color: var(--black-color);
  text-align: center;
}

#logo {
  height: 40px;
  margin: 15px;
}

#yellow_bar {
  background-color: var(--yellow-color);
  height: 25px;
}

/********* Nav ********/

#mainNav {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  background-color: var(--grey-color);
}

#mainNav li {
  flex-basis: 50%;
  text-align: center;
}

#mainNav li:first-child {
  border-right: 1px dotted var(--black-color);
}

#mainNav a {
  display: block;
  padding: 15px 10px;
  font-weight: 700;
  color: #000;
}

/********* Form ********/

#form_container {
  min-height: calc(100vh - 268px); /* For making a sticky footer */
}

form {
  width: 85%;
  margin: 25px auto;
  padding: 0 15px;
}

form h2 {
  text-align: center;
}

#vatNumber {
  width: 50%;
  height: 30px;
  padding-left: 5px;
  margin: 0 auto;
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
}

#vatNumber::placeholder {
  text-transform: none;
}

#not_valid_vat {
  border: 2px solid var(--red-color);
  padding: 10px;
  font-size: 1rem;
  color: var(--red-color);
}

.submit,
#return_button {
  width: 30%;
  display: block;
  margin: 25px auto 0;
  height: 40px;
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--blue-color);
  color: #fff;
  border-radius: 5px;
}

/********* Success and Failure Messages ********/

#successMessage {
  border: 2px solid var(--green-color);
}

#successMessage ul {
  padding-left: 25px;
}

#successMessage li {
  margin-bottom: 5px;
}

#successMessage h3 {
  color: var(--green-color);
}

#successMessage span {
  font-weight: 900;
}

#failedMessage {
  border: 2px solid var(--red-color);
}

#failedMessage h3 {
  color: var(--red-color)
}

#failedMessage,
#successMessage {
  width: 85%;
  margin: 25px auto;
  padding-left: 10px;
}

#failedMessage h3,
#successMessage h3 {
  text-align: center;
}

/********* About ********/

#about {
  width: 90%;
  margin: 25px auto;
}

#about a {
  text-decoration: underline;
}

#about h1 {
  text-align: center;
}

#about li {
  margin: 7px 0;
}

#about li::before {
  content: " ";
  height: 5px;
  width: 5px;
  background-color: var(--yellow-color);
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
  vertical-align: top;
}

#about ul {
  padding-left: 25px;
}

/********* Footer ********/

footer {
  background-color: var(--black-color);
  text-align: center;
}

/********* Not Found ********/

#notFound {
  width: 90%;
  margin: 25px auto;
  min-height: calc(100vh - 268px);
  text-align: center;
}

#notFound p:first-child {
  font-weight: 900;
}

#return_button {
  width: 40%;
  padding-top: 10px;
}


/********* Media Queries ********/

@media(min-width: 1024px) {

  #mainNav {
    font-size: 1.2rem;
  }

  #form_container,
  #about {
    width: 60%;
    margin: 22px auto;
    padding-top: 15px;
  }

  footer {
    text-align: right;
  }

  footer button:last-child {
    margin-right: 50px;
  }

  #return_button {
    width: 30%;
  }
  
}